.backgroundLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: -1; Ensure it is behind the content */
}

.backgroundItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  /* background-size: cover;
  background-position: center; */
}

.active {
  opacity: 1;
}

/* h2 {
  opacity: 0;
  animation: fadeIn .5s ease-in forwards;
  animation-delay: 1s; Delay before the animation starts
} */
/* 
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
