
.app {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* padding: 20px; */
  /* position: fixed; */
}

body {
  font-size: 18px; /* Base size */
  line-height: 1.8rem;
  font-family: "Merriweather", serif;
  text-wrap: pretty;
  color: white;
  background-color: #68757d;
}

h2 {
  line-height: 2.4rem;
}

p {
  font-size: calc(0.6rem + 0.5vw);
  text-wrap: pretty;
  /* text-wrap: balance; */
  color: white;
}
