#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.app {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* padding: 20px; */
  /* position: fixed; */
}

body {
  font-size: 18px; /* Base size */
  line-height: 1.8rem;
  font-family: "Merriweather", serif;
  text-wrap: pretty;
  color: white;
  background-color: #68757d;
}

h2 {
  line-height: 2.4rem;
}

p {
  font-size: 1.1rem;
  text-wrap: pretty;
  /* text-wrap: balance; */
  color: white;
}
