body {
  font-size: 18px; /* Base size */
  line-height: 1.8rem;
  font-family: "Merriweather", serif;
  text-wrap: pretty;
  color: white;
  background-color: #68757d;
}

h2 {
  line-height: 2.4rem;
}

p {
  font-size: calc(0.9rem + 0.27vw);
  text-wrap: pretty;
  line-height:calc(1.9rem + 0.27vh); ;
  /* text-wrap: balance; */
  color: white;
}
